
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
<body>
    
<table>
    <thead>
        <tr>
            <th>name</th>
            <th>pages</th>
            <th>view</th>
            <th>edit</th>
            <th>create</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        {% for book in object_list %}
            <tr>
                <td>{{ book.name }}</td>
                <td>{{ book.pages }}</td>
                <td><a href="{% url 'book_view' book.id %}">view</a></td>
                <td><a href="{% url 'book_edit' book.id %}">edit</a></td>
                <td><a href="{% url 'book_delete' book.id %}">delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    <a href="{% url 'book_new' %}">New</a>

</body>
</html>
